.bio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  height: 100%;
  line-height: 1.4;
  font-size: 0.875rem;
  font-weight: 200;
  color: color(var(--colorSecondaryDark) l(80));
  background: color(var(--colorSecondaryDark));

  & a,
  & a:hover {
    color: color(white);
  }
}