.button {
  /* structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
}

.button {
  display: inline-flex;
  padding: 0 1rem;
  line-height: 2rem;
  font-weight: 100;
  text-align: center;
  border-radius: 3px;

  transition: .2s all;

  color: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  background: color(var(--colorPrimaryDark) a(0.8));

  &:hover {
    text-decoration: none;
    color: var(--colorPrimaryDark);
    border: 1px solid var(--colorPrimaryDark);
  }
}

.secondary {
  background: transparent;
  color: var(--colorSecondary);
  border: 1px solid var(--colorSecondary);

  &:hover {
    color: var(--colorSecondaryDark);
    border: 1px solid var(--colorSecondaryDark);
  }
}

.light {
  color: var(--colorNeutralLight);
  border: 1px solid var(--colorNeutralLight);

  &:hover {
    color: var(--colorNeutralLight);
    border: 1px solid var(--colorNeutralLight);
    background: color(var(--colorNeutralLight) a(0.3));
  }
}

.big {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 2;
}

.primary.light {
  background: color(white);
  color: color(var(--colorPrimaryDark));
  font-weight: 400;

  &:hover {
    background: color(var(--colorNeutralLight) a(0.7));
  }
}

.secondary.fill {
  padding: 0.3rem 2rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.black {
  background: color(black);
  color: color(black);
  border-color: color(black);
}

.grey {
  background: color(grey l(85));
  color: color(grey l(85));
  border-color: color(grey l(85));

  &:hover {
    background-color: color(var(--colorPrimary));
    border-color: color(var(--colorPrimary));
    color: color(white);
  }
}

.white {
  background: color(white);
  color: color(white);
  border-color: color(white);
}

.transparent {
  background: transparent !important;
}

.fill {
  color: inherit;
}

.svg {
  padding: 0;
  border: none !important;
  fill: currentColor;
}