.card {
  display: block;
  position: relative;
  margin: 0 auto 0.5rem auto;
  padding: 1rem;
  box-sizing: border-box;
  background: color(white);
  box-shadow: 0 0 0 1px color(grey l(.20) a(.5));
}

.compact {
  margin-bottom: 1px;
}