.solutions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  text-align: left;
  background: color(white a(50%));
  overflow: hidden;

  & h2,
  & h6,
  & p,
  & ul {
    width: calc( 100vw - 5% );
    margin: 0 auto 1rem;
  }

  & h6 {
    font-size: 0.75em;
    letter-spacing: 1px;
    color: color(grey l( 60));
  }

  & p {
    font-size: 0.875rem;
    font-weight: 200;
    color: color(grey l(60));
  }

  & ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  & li {
    line-height: 3;
    font-size: 0.875rem;

    &:before {
      display: inline-block;
      width: 1.5rem;
      content: "•";
      color: color(var(--colorNeutral));
    }
  }

  & em {
    font-family:'Merriweather', Georgia, 'Times New Roman', Times, serif;
  }
}