.solutions {
  align-items: flex-start;
  text-align: left;
  background: color(white a(50%)) url('/assets/syndia_bg_01.jpg') no-repeat 92% 50%;
  background-size: 70%;

  & header,
  & p,
  & ul {
    padding-right: 48%;
  }

  & p {
    font-size: 0.875rem;
    font-weight: 200;
    color: color(grey l(60));
  }

  & ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  & li {
    line-height: 3;
    font-size: 0.875rem;

    &:before {
      display: inline-block;
      width: 1.5rem;
      content: "•";
      color: color(var(--colorNeutral));
    }
  }
}