.cta {
  display: flex;
  align-content: baseline;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background: color(var(--colorNeutral) l(55));
  color: color(white);

  &:hover {
    background: color(var(--colorNeutral) l(50));
  }
}

.banner {
  background: transparent;
  margin: 0;
  border: none;
  box-shadow: none;
}

.icon {
  margin-left: .5rem;
  padding: 3px;
  border-radius: 100%;
  color: color(var(--colorNeutral) l(60));
  background: color(white);
}
