.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: color(white a(50%));
  overflow: hidden;

  & h2,
  & h6,
  & p {
    width: calc( 100vw - 45% );
    margin: 0 auto 1rem;
  }

  & h6 {
    font-size: 0.75em;
    letter-spacing: 1px;
    color: color(grey l( 60));
  }

  & p {
    font-size: 0.875rem;
    font-weight: 200;
    color: color(grey l(60))
  }

  & em {
    font-family:'Merriweather', Georgia, 'Times New Roman', Times, serif;
  }

}

.gallery {
  padding: 0 10%;
}