.portfolio {
  text-align: center;
  background: color(white a(50%));

  & header,
  & p {
    width: calc( 100vw - 45% );
  }

  & p {
    font-size: 0.875rem;
    font-weight: 200;
    color: color(grey l(60))
  }
}

.gallery {
  padding: 0 10%;
}
