.scrollDownButton {
  display: block;
  position: absolute;
  left: calc(100vw / 2 - 1rem);
  bottom: 3rem;
  color: white !important;
  background-color: transparent;
  opacity: .7;
  z-index: 100;
  animation: bounce 4s 2s infinite;

    &:hover {
        color: inherit;
        background-color: transparent;
        opacity: 1;
        animation: none;
    }
}

@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
