.life {
  min-height: 100vh;
  text-align: left;
  background: color(var(--colorNeutral) l(90)) url('/assets/syndia_bg_02.jpg') no-repeat 0% 110%;
  background-size: 70%;
  overflow: hidden;

  & h2,
  & h6,
  & p,
  & ul,
  & li {
    padding-left: 48%;
  }

  & p {
    font-size: 0.875rem;
    font-weight: 200;
    color: color(grey l(60));
  }

  & ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  & li {
    line-height: 3;
    font-size: 0.875rem;

    &:before {
      padding-right: 1rem;
      content: "•";
      color: color(var(--colorNeutral));
    }
  }
}